<nav id = "navAdmin">
  <div class="logo">
      <h6>Est. 19997</h6>
      <h1>ATTENS</h1>
      <h5>Garage</h5>
  </div>

  <h1>GARAGE<br>ATTENS</h1>

  <ul id="lienNav">
    <li><a href="#" data-hover="Admin">Espace Administrateur</a></li>
    <li><a href="#" data-hover="Interventions">INTERVENTIONS</a></li>
  </ul>
</nav>