body {
    margin: 0;
    box-sizing: border-box;
    background-color:black;
}

/* nav */

nav {
    display: flex;
    align-items: center;
}

nav h1 {
    color:#bdbdbd;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    letter-spacing: 5px;
    margin-left:460px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
.logo {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  color: #bdbdbd;
  margin: 30px 0;
  max-width: 285px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.logo h1,
.logo h5 {
  margin: 0;
  text-transform: uppercase;
}
.logo h1 {
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 3em;
  line-height: 88px;
  font-weight: 700;
  position: relative;
  color: #212121;
  text-align: center;
  margin: 0 0 4px;
}
.logo h1:before {
  content: '';
  position: absolute;
  width: 0;
  height: 60px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-width: 15px 130px;
  border-style: solid;
  border-color: transparent #bdbdbd transparent #bdbdbd;
  z-index: -1;
}
.logo h5 {
  margin: 0 40px;
  padding: 5px 0;
  font-weight: 500;
}
.logo h6 {
  margin: 0 0 2px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#navAdmin {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

#navAdmin h1 {
    margin-left:0;
}

#navAdmin ul li {
    border: 2px solid rgb(236, 124, 84);
    margin: 10px 0;
}

#navAdmin ul li a{
    text-decoration : none;
    color: #bdbdbd;
    padding: 10px;
    font-size:30px;
}


/* connexion */

#formulaire {
    width: 35%;
    margin: auto;
}

#formulaire p {
    color:#bdbdbd;
    font-size: 30px;
}

#connexion {
    border: 2px solid #bdbdbd;
    padding:10px;
}

#formulaire div {
    text-align: right;
    margin:10px;
}

#envoyer {
    padding:10px;
    border-radius:4px;
    background-color: rgb(170, 153, 147);
}

